
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Document</title>
     <link rel="stylesheet" href="../../css/style.css">
</head>
<body>
    <div class="contianer_view_correction">
        <div class="header_viewcorrection">
            <div class="quiztitle_correct"><span>Present simple</span></div>
            <div class="totalscore_correct"><span>Total points</span><span class="score_correction">10/100</span><i class="fa fa-question-circle" style="font-size: 25px;"></i></div>
        </div>
        <div class="quizzer_email_recorder">The responent's email (<span class="email_recoder">tim.bin@student.passerellesnumeriques.org</span>)  recorded on submission of this form.</div>
        <div class="view_username_correction">Name: <span class="username_correction">Tim Bin</span></div>
        <div class="body_viewcorrection">
            <section>
                <!-- question -->
                <div class="que_text">
                    <span>question???</span>
                    <span>10/10</span>
                </div>
                <!-- answers -->
            
                <div class="option_list">
                    <div class="option">answers  <span></span></div>
                    <div class="option">answers  <span></span></div>
                    <div class="option">answers  <span></span></div>
                    <div class="option">answers  <span></span></div>
                </div>
                <div class="que_text">
                    <span class="question_value">question???</span>
                    <span class="score_mark">5/10</span>
                </div>
                <!-- answers -->
            
                <div class="option_list">
                    <div class="option">answers  <span></span></div>
                    <div class="option">answers  <span></span></div>
                    <div class="option">answers  <span></span></div>
                    <div class="option">answers  <span></span></div>
                </div>
            </section>
        </div>
    </div>
</body>
</html>