
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Document</title>
    <link rel="stylesheet" href="../../css/style.css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>
<body>
    <div class="contianer_view_correction">
        <div class="header_viewcorrection">
            <div class="quiztitle_correct"><span>Present simple</span></div>
            <div class="totalscore_correct"><span>Total points</span><span class="score_correction">10/100</span><i class="fa fa-question-circle" style="font-size: 25px;"></i></div>
        </div>
        <div class="quizzer_email_recorder">The responent's email (<span class="email_recoder">tim.bin@student.passerellesnumeriques.org</span>)  recorded on submission of this form.</div>
        <div class="view_username_correction">Name: <span class="username_correction">Tim Bin</span></div>
        <div class="body_viewcorrection">
            <section>
                <!-- question -->
                <div class="card_correction">
                    <!-- <div class="que_text">
                        
                    </div>
                   
                
                    <div class="option_list">
                       
                    </div> -->
                </div>

            </section>
        </div>
    </div>
    <script src="correction.js"></script>
</body>
</html>